/*General*/
    *{
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
    }

    body,
    html{
        height: 100%;
        margin: auto;
    }
    body{
        font-family: 'VerdanaRegular';
        background: url('../img/imageBG.jpg');
        background-size: cover;
    }

    .main-page{
        position: relative;
        min-height: 100%;
    }
    .page{
        min-height: 100%;
    }
/*General/ */

/*Header*/
    .main-header{
        padding: 16px 0 18px;
        background: rgba(0, 0, 0, 0.41);
    }

    /*Logo*/
        .logo{
        }

        .logo a{
            font-family: 'VerdanaBold';
            font-size: 20px;
            color: #fff;
            text-decoration: none;
            text-transform: uppercase;

            -webkit-transition: all 0.3s ease;
            -moz-transition: all 0.3s ease;
            -o-transition: all 0.3s ease;
            transition: all 0.3s ease;
        }
        .logo a:hover{
            color: #3cb878;
        }
    /*Logo/ */

    /*Header links*/
        .header-links{
            font-size: 14px;
            color: #fff;
            text-align: right;
        }
        .header-links a{
            font-size: 14px;
            color: #3cb878;
            text-decoration: none;
            border-bottom: 1px solid transparent;

            -webkit-transition: all 0.3s ease;
            -moz-transition: all 0.3s ease;
            -o-transition: all 0.3s ease;
            transition: all 0.3s ease;
        }
        .header-links a:hover{
            text-decoration: none;
            border-color: #3cb878;
        }

        /*Icons*/
            .list-icons,
            .links-area{
                display: inline-block;
                vertical-align: top;
            }
            .links-area{
                padding-top: 2px;
                padding-left: 19px;
            }

            .list-icons{
                position: relative;
                padding-right: 19px;
            }
            .list-icons:after{
                position: absolute;
                top: 1px;
                right: 0;
                width: 1px;
                height: 19px;
                background: rgba(223, 221, 221, 0.1);
                content: '';
            }

            .list-icons ul{
                padding: 0;
                margin: auto;
            }

            .list-icons ul li{
                margin-right: 27px;
                list-style: none;
            }
            .list-icons ul li:last-child{
                margin-right: auto;
            }

            .list-icons ul li a{
                display: inline-block;
                vertical-align: top;
                width: 20px;
                height: 20px;
                background: url(../img/sprite.png) no-repeat;
                border-bottom: none;

                -webkit-transition: none;
                -moz-transition: none;
                -ms-transition: none;
                transition: none;
            }
            .list-icons ul li a:hover{
                border-bottom: none;
            }

            /*Icon 1*/
                .list-icons ul li:first-child a{
                    background-position: -106px -9px;
                }
                .list-icons ul li:first-child:hover a{
                    background-position: -106px -48px;
                }
            /*Icon 1/ */

            /*Icon 2*/
                .list-icons ul li:nth-child(2) a{
                    width: 29px;
                    background-position: -9px -10px;
                }
                .list-icons ul li:nth-child(2):hover a{
                    background-position: -57px -10px;
                }
            /*Icon 2/ */

            /*Icon 3*/
                .list-icons ul li:nth-child(3) a{
                    width: 29px;
                    background-position: -9px -50px;
                }
                .list-icons ul li:nth-child(3):hover a{
                    background-position: -49px -50px;
                }
            /*Icon 3/ */
        /*Icons/ */
    /*Header links/ */
/*Header/ */

/*Form*/
    form.login-form{
        position: absolute;
        left: 50%;
        top: calc(50% + 28px);
        width: 444px;
        padding: 24px 62px 22px;
        background: #ffffff;

        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px;

        -webkit-box-shadow: 0 4px 18px rgba(0, 0, 0, 0.52);
        -moz-box-shadow: 0 4px 18px rgba(0, 0, 0, 0.52);
        box-shadow: 0 4px 18px rgba(0, 0, 0, 0.52);

        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
    form.login-form:before{
        position: absolute;
        top: 29px;
        left: 0;
        width: 18px;
        height: 18px;
        background: #3cb878;
        content: '';
    }

    /*Header*/
        .form-header{
            border-bottom: 1px solid #eaeaea;
        }

        .form-title{
            font-size: 20px;
            color: #434343;
            text-transform: capitalize;
        }

        .form-login-link{
            text-align: right;
        }
        .form-login-link a{
            font-size: 14px;
            color: #3cb878;
            text-decoration: none;
            text-transform: capitalize;
            border-bottom: 1px solid transparent;

            -webkit-transition: all 0.3s ease;
            -moz-transition: all 0.3s ease;
            -o-transition: all 0.3s ease;
            transition: all 0.3s ease;
        }
        .form-login-link a:hover{
            border-color: #3cb878;
            text-decoration: none;
        }

        /*Social log in*/
            .soc-login{
                padding-top: 15px;
                padding-bottom: 37px;
            }

            ul.soc-list{
                padding: 0;
                margin: auto;
            }
            ul.soc-list li.soc-item{
                padding-right: 4px;
                list-style: none;
            }
            ul.soc-list li.soc-item:last-child{
                padding-left: 4px;
                padding-right: 0;
            }

            ul.soc-list li.soc-item a{
                display: block;
                padding: 15px 0 12px;
                font-size: 16px;
                color: #fff;
                text-decoration: none;

                -webkit-border-radius: 2px;
                -moz-border-radius: 2px;
                border-radius: 2px;

                -webkit-transition: all 0.3s ease;
                -moz-transition: all 0.3s ease;
                -o-transition: all 0.3s ease;
                transition: all 0.3s ease;
            }
            ul.soc-list li.soc-item a:hover{
                text-decoration: none;
            }

            /*Facebook*/
                ul.soc-list li.soc-item.soc-item-facebook a{
                    background: #264b96;
                }
            /*Facebook/ */

            /*Google*/
                ul.soc-list li.soc-item.soc-item-google-plus a{
                    background: #c3412c;
                }
            /*Google/ */

            ul.soc-list li.soc-item a i{
                display: inline-block;
                vertical-align: top;
                width: 48px;
                font-size: 18px;
                text-align: center;
            }

            ul.soc-list li.soc-item a span{
                position: relative;
                display: inline-block;
                vertical-align: top;
                width: 99px;
                text-transform: capitalize;
                text-align: center;
            }
            ul.soc-list li.soc-item a span:before{
                position: absolute;
                top: 0;
                left: 0;
                width: 1px;
                height: 19px;
                background: rgba(0, 0, 0, 0.1);
                content: '';
            }
        /*Social log in/ */
    /*Header/ */

    /*Or*/
        .form-text{
            width: 52px;
            margin: 0 auto;
            font-size: 14px;
            color: #848484;
            text-align: center;
            background: #fff;
            margin-top: -12px;
        }
    /*Or/ */

    /*Body form*/
        .fileds-group{
            padding-top: 16px;
        }
        .wrap-field{
            margin-bottom: 9px;
        }

        .field-area{
            height: 46px;
            width: 100%;
            padding: 0 18px;
            font-size: 14px;
            color: #434343;
            text-align: left;
            text-transform: capitalize;
            border: 1px solid #eaeaea;

            -webkit-border-radius: 2px;
            -moz-border-radius: 2px;
            border-radius: 2px;

            -webkit-transition: all 0.3s ease;
            -moz-transition: all 0.3s ease;
            -o-transition: all 0.3s ease;
            transition: all 0.3s ease;
        }
        .field-area:focus{
            outline: none;

            -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.21);
            -moz-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.21);
            box-shadow: 0 3px 8px rgba(0, 0, 0, 0.21);
        }

        /*PLaceholder*/
            ::-webkit-input-placeholder{
                color:#bebebe;

                -webkit-transition: all 0.3s ease;
                -moz-transition: all 0.3s ease;
                -o-transition: all 0.3s ease;
                transition: all 0.3s ease;
            }
            ::-moz-placeholder{
                color:#bebebe;

                -webkit-transition: all 0.3s ease;
                -moz-transition: all 0.3s ease;
                -o-transition: all 0.3s ease;
                transition: all 0.3s ease;}
            :-moz-placeholder{
                color:#bebebe;

                -webkit-transition: all 0.3s ease;
                -moz-transition: all 0.3s ease;
                -o-transition: all 0.3s ease;
                transition: all 0.3s ease;}
            :-ms-input-placeholder{
                color:#bebebe;

                -webkit-transition: all 0.3s ease;
                -moz-transition: all 0.3s ease;
                -o-transition: all 0.3s ease;
                transition: all 0.3s ease;}

            .field-area:focus::-webkit-input-placeholder{color:#434343;}
            .field-area:focus::-moz-placeholder{color:#434343;}
            .field-area:focus:-moz-placeholder{color:#434343;}
            .field-area:focus:-ms-input-placeholder{color:#434343;}
        /*PLaceholder/ */

        /*Fake checkbox*/
            .wrap-checkbox-field{
                position: relative;
                padding-top: 10px;
                padding-left: 30px;
            }

            .wrap-checkbox-field input[type="checkbox"]{
                display: none;
            }
            .wrap-checkbox-field input[type="checkbox"] + span{
                position: absolute;
                top: 11px;
                left: 0;
                width: 20px;
                height: 20px;
                background: url(../img/sprite.png) no-repeat;
                background-position: -145px -10px;
                cursor: pointer;
            }
            .wrap-checkbox-field input[type="checkbox"]:checked + span{
                background-position: -145px -49px;
            }

            .wrap-checkbox-field label{
                color: #434343;
                font-size: 14px;

                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                -o-user-select: none;
                user-select: none;
            }
            .wrap-checkbox-field label a{
                color: #3cb878;
                border-bottom: 1px solid transparent;
                text-decoration: none;

                -webkit-transition: all 0.3s ease;
                -moz-transition: all 0.3s ease;
                -o-transition: all 0.3s ease;
                transition: all 0.3s ease;
            }
            .wrap-checkbox-field label a:hover{
                border-color: #3cb878;
                text-decoration: none;
            }
    /*Fake checkbox/ */

        /*Submit button*/
            .wrap-field-submit{
                padding-top: 18px;
            }

            .wrap-field-submit button[type="submit"]{
                display: block;
                width: 100%;
                height: 46px;
                background: #3cb878;
                font-size: 16px;
                color: #fff;
                text-align: center;
                text-transform: capitalize;
                border: none;
                cursor: pointer;

                -webkit-border-radius: 2px;
                -moz-border-radius: 2px;
                border-radius: 2px;

                -webkit-transition: all 0.3s ease;
                -moz-transition: all 0.3s ease;
                -o-transition: all 0.3s ease;
                transition: all 0.3s ease;
            }
            .wrap-field-submit button[type="submit"]:hover{
                background: #329a65;
            }
        /*Submit button/ */
    /*Body form/ */
/*Form/ */

/*Extra classes*/
    .container{
        width: 1215px;
        margin: 0 auto;
    }

    .half_block{
        width: 50%;
    }

    .fl{
        float: left;
    }
    .fr{
        float: right;
    }
    .clear:after{
        display: block;
        clear: both;
        content: '';
    }
/*Extra classes/ */

/*Fonts
    font-family: 'VerdanaRegular';
    font-family: 'VerdanaBold';
*/