@font-face {
    font-family: 'VerdanaRegular';
    src: url('fonts/VerdanaRegular.eot');
    src: url('fonts/VerdanaRegular.eot') format('embedded-opentype'),
         url('fonts/VerdanaRegular.woff2') format('woff2'),
         url('fonts/VerdanaRegular.woff') format('woff'),
         url('fonts/VerdanaRegular.ttf') format('truetype'),
         url('fonts/VerdanaRegular.svg#VerdanaRegular') format('svg');
}

@font-face {
    font-family: 'VerdanaBold';
    src: url('fonts/VerdanaBold.eot');
    src: url('fonts/VerdanaBold.eot') format('embedded-opentype'),
    url('fonts/VerdanaBold.woff2') format('woff2'),
    url('fonts/VerdanaBold.woff') format('woff'),
    url('fonts/VerdanaBold.ttf') format('truetype'),
    url('fonts/VerdanaBold.svg#VerdanaBold') format('svg');
}

