*{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body{
    margin: auto;
    min-width: 1200px;
    font-family: 'VerdanaRegular';
}
body,
html{
    height: 100%;
}
.main-page{
    background: url("../img/bg.jpeg") no-repeat center center;
    background-size: cover;
    position: relative;
    min-height: 100%;
}
.page{
    min-height: 100%;
    padding-bottom: 35px;
}
.container{
    width: 1063px;
    margin: 0 auto;
}

.logo svg {
    float: left;
    width: 46px;
    margin-right: 10px;
    margin-top: 2px;
}
.logo svg path{
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.logo:hover svg path{
    fill: #f26522;
}

.logo-text{
    float: left;
}
.logo{
    width: 165px;
    float: left;
}
.logo-text span{
    display: block;
    font-family: 'VerdanaBold';
    font-size: 29px;
    color: #fff;
    text-transform: uppercase;
    line-height: 26px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.logo-text span + span{
    font-size: 18px;
}
.logo:hover span {
    color: #f26522;
}

.header{
    padding-top: 49px;
    padding-bottom: 40px;
}
.contacts{
    float: right;
    padding-top: 5px;
}
.contacts ul{
    margin: auto;
}
.contacts ul li{
    list-style: none;
    text-align: right;
}
.contacts ul li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
}
.service-img figure{
    margin: auto;
}

.service-item{
    width: 33.33%;
    float: left;
    margin-bottom: 56px;
}
.service-item:nth-child(3) .service-item-area,
.service-item:nth-child(6) .service-item-area{
    float: right;
}
.service-item:nth-child(2) .service-item-area,
.service-item:nth-child(5) .service-item-area{
    margin: 0 auto;
}

.service-item-area{
    width: 312px;
}

.service-img{
    position: relative;
    padding: 2px;
    overflow: hidden;

    -webkit-box-shadow: 0px 17px 24px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 17px 24px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 17px 24px 0px rgba(0,0,0,0.75);

    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffffff 0%, #000000 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #ffffff 0%,#000000 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #ffffff 0%,#000000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}
.service-img figure{
    margin: auto;
}

.service-caption{
    position: absolute;
    left: 0;
    right: 0;
    bottom: -100%;
    width: 100%;
    padding: 15px 18px 13px 21px;
    background: #f26522;

    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.service-item-area:hover .service-caption{
    bottom: 0;
}

.service-left,
.service-right{
    float: left;
    width: 50%;
    color: #fff;
}

.service-from{
    font-size: 10px;
}
.service-price{
    font-size: 20px;
}

.service-details{
    padding-top: 16px;
    text-align: right;
}
.service-details a{
    font-size: 14px;
    color: #fff;
    text-decoration: none;
    text-transform: capitalize;
}
.service-details a:after{
    content: url(../img/arrow.png);
}

.service-title{
    padding-top: 8px;
    text-align: center;
    position: relative;
}
.service-title a{
    color: #fff;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    text-transform: capitalize;

    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.service-title a:hover{
    color: #f26522;
}

.footer{
    text-align: center;
    color: #FFFFFF;
    font-size: 12px;
    padding-bottom: 20px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
}




.clear:after{
   display: block;
    clear: both;
    content: "";
}

/*Fonts
    font-family: 'VerdanaRegular';
    font-family: 'VerdanaBold';
Fonts/*/