*{
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.main-page{
    min-width: 1200px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'open_sanssemibold';
}
.header{
    background: url("../image/header-bg.jpeg") center no-repeat fixed;
    background-size: cover;
    position: relative;
}
.header:after{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    content: "";
    z-index: 1;
}
.container{
    position: relative;
    z-index: 2;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    color: #ffffff;
    background-color: #1d2124;
    font-family: 'open_sansregular';
}
.logo{
    text-align: left;
    font-size: 22px;
    text-transform: capitalize;
}
.logo_text{
    color: #ffffff;
    display: flex;
    align-items: center;
}
.logo_img{
    margin-right: 6px;
}
.nav{
    font-size: 15px;
    list-style-type: none;
    display: flex;
    text-transform: uppercase;
    padding-top: 22px;
}
.search a{
    background-color: #171a1c;
    color: #ffffff;
}
ul li{
    list-style-type: none;
    display: inline;
    text-decoration: none;
    padding: 0 15px;
}
li a{
    font-size: 15px;
    color: #ffffff;
    text-transform: uppercase;
}
i{
    padding-top: 27px;
    padding-right: 25px;
    padding-left: 26px;
}
a{
    text-decoration: none;
}
span{
    font-size: 27px;
    text-transform: uppercase;
    font-family: 'open_sansregular';
}
h3{
    font-size: 18px;
    color: #353a3d;
    text-align: center;
    text-transform: capitalize;
    padding: 9px 20px 18px;
    font-family: 'open_sansbold';
    font-weight: normal;

}
.container_end{
    position: relative;
    text-align: center;
    z-index: 3;
}
.latest{
    font-size: 27px;
    padding-top: 155px;
    color: #ffffff;
}
.button{
    padding-top: 44px;
    padding-bottom: 145px;
    font-family: 'open_sanssemibold';
}
.subscribe{
    font-size: 18px;
    background-color: #89ca62;
    color: #ffffff;
    padding: 21px;
    margin: 20px;
    border: none;
    border-radius: 5px;
    text-transform: capitalize;
}
.articles{
    font-size: 18px;
    background-color: #14b9d5;
    color: #ffffff;
    padding: 21px;
    border: none;
    border-radius: 5px;
    text-transform: capitalize;
}
h4{
    font-size: 32px;
    text-transform: uppercase;
    color: #18b4cf;
    padding-top: 50px;
    text-align: center;
    font-family: 'open_sansbold';
}
.posts{
    font-size: 27px;
    color: #18b4cf;
    text-transform: uppercase;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 52px;
}
.flex_container{
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: flex-start;
    height: 900px;
    margin-left: -15px;
    margin-right: -15px;
    padding-bottom: 72px;
    font-size: 18px;
    text-align: center;
}
.elements{
    width: 33.33%;
    padding: 0 15px;
    margin-bottom: 30px;
}
.elements_item{
    background-color: #ffffff;
}
.elements_item img{
    width: 100%;
}
.popular_posts{
    background-color: #f2f2f2;
}
.block-logo{
    background: url("../image/parallax-bg.jpeg") center no-repeat fixed;
    background-size: cover;
    position: relative;
    padding-top: 175px;
    padding-bottom: 115px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.block-logo-title{
    font-size: 32px;
    text-transform: uppercase;
    color: #ffffff;
    padding-top: 15px;
    font-family: 'open_sansbold';

}
.company-logos{
    display: flex;
    width: 70%;
    justify-content: space-between;
    align-items: center;
    padding-top: 54px;
    padding-bottom: 80px;
}
hr{
    width: 60px;
    height: 3px;
    background-color: #169cb4;
    border: none;
    margin-top: 46px;
}
.rate_container{
    grid-template-columns: repeat(7, 1fr);
}
.rate_container div img{
    max-width: 100%;
}
.news_container{
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 35px;
    font-size: 14px;
    color: #5b6469;
}
.content{
    width: 1170px;
    margin: 0 auto;
}
.grid_container{
    display: grid;
    margin-top: 51px;
    font-family: 'open_sanssemibold';
}
.Emirate{
    grid-row-start: 1;
    grid-column-start: 1;
    grid-column-end: 4;
    text-align: right;
    background-color: #f9f7f7;
}
.Spain{
    grid-row-start: 1;
    text-align: center;
    background-color: #f9f7f7;
}
.Egypt{
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: right;
    background-color: #f9f7f7;
}
.Maldives{
    grid-row-start: 2;
    grid-column-start: 3;
    grid-column-end: 5;
    text-align: right;
    background-color: #f9f7f7;

}
.Tenerife{
    grid-row-start: 3;
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: right;
    background-color: #f9f7f7;
}
.Britain{
    grid-row-start: 3;
    grid-column-start: 3;
    grid-column-end: 5;
    text-align: right;
    background-color: #f9f7f7;
}
.Ireland{
    grid-row-start: 4;
    text-align: center;
    background-color: #f9f7f7;
}
.Resort_in_Spain{
    grid-row-start: 4;
    grid-column-start: 2;
    grid-column-end: 5;
    text-align: right;
    background-color: #f9f7f7;
}

h5{
    font-size: 18px;
    font-family: 'open_sansbold';
    font-weight: normal;
    padding-top: 8px;
    color: #353a3d;
    margin-bottom: 16px;
    padding-right: 28px;
    padding-left: 28px;
}
.news_container p{
    padding-left: 28px;
    padding-right: 28px;
    padding-bottom: 20px;
}

.Emirate h5,
.Resort_in_Spain h5{
    padding-top: 35px;
}
.news_container img{
    width: 100%;
}
.news_container .Emirate img,
.news_container .Resort_in_Spain img{
    width: auto;
    margin-right: 20px;
}
.footer{
    background-color: #1d2124;
    font-family: 'open_sansregular';
}
.footer_container{
    grid-template-columns: 70% 30%;
    font-size: 13px;
    color: #ffffff;
    border: none;
    padding-top: 34px;
    padding-bottom: 30px;
}
.footer_logo{
    text-align: right;
}

/*Fonts
    font-family: 'open_sansregular';
    font-family: 'open_sansbold';
    font-family: 'open_sanssemibold';
*/