@font-face {
    font-family: 'Arimo Regular';
    src: local('Arimo'), url('arimo.woff2') format('woff2'), url('arimo.woff') format('woff'), url('arimo.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Arimo Bold';
    src: local('Arimo Bold'), local('Arimo-Bold'), url('arimobold.woff2') format('woff2'), url('arimobold.woff') format('woff'), url('arimobold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}