@font-face {
    font-family: 'VerdanaBold';
    src: url('fonts/VerdanaBold.eot');
    src: url('fonts/VerdanaBold.eot') format('embedded-opentype'),
         url('fonts/VerdanaBold.woff2') format('woff2'),
         url('fonts/VerdanaBold.woff') format('woff'),
         url('fonts/VerdanaBold.ttf') format('truetype'),
         url('fonts/VerdanaBold.svg#VerdanaBold') format('svg');
}
