@charset "utf-8";
/*General settings*/
    *{
        padding: 0;
        margin: 0;

        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
    }

    body, html{
        height: 100%;
        padding: 0;
        margin: 0;
        font-family: 'MyriadProRegular';
    }

    .container{
        width: 1280px;
        padding-bottom: 29px;
        margin: 0 auto;
    }
/*General settings/ */

/*Header*/
    /*General*/
        .header{
            padding-top: 50px;
        }
    /*General/ */

    /*Logo*/
        .logo{
            padding-bottom: 42px;
        }
        .logo a{
            font-size: 80px;
            color: #4bcaff;
            text-decoration: none;
        }
        .logo a:hover{
            text-decoration: none;
        }

        .logo a span{
            color: #000000;
        }
    /*Logo/ */

    /*Main menu*/
        .nav{
            background: #35444f;
        }

        .nav  ul.menu{
            text-align: center;
        }
        ul.menu > li.menu-item{
            display: inline-block;
            vertical-align: top;
            list-style: none;
        }

        ul.menu > li.menu-item > a{
            display: block;
            padding: 19px 40px;
            font-size: 24px;
            color: #ffffff;
            border: 1px solid transparent;
            border-top: none;
            border-bottom: none;
            text-decoration: none;

            -webkit-transition: all 0.3s ease;
            -moz-transition: all 0.3s ease;
            -o-transition: all 0.3s ease;
            transition: all 0.3s ease;
        }
        ul.menu > li.menu-item:hover > a{
            border-color: #818181;
            background: #222f3a;
        }
    /*Main menu/ */
/*Header/ */

/*Content*/
    /*General*/
        .content{
            padding-top: 51px;
        }
        .sidebar,
        .wrap-content-area{
            display: inline-block;
            vertical-align: top;
        }
    /*General/ */

    /*Sidebar*/
        .sidebar{
            width: 26.9%;
            border: 1px solid #35444f;
        }

        .sidebar ul.menu > li.menu-item{
            width: 100%;
        }
        .sidebar ul.menu > li.menu-item > a {
            padding: 22px 41px;
            font-size: 27px;
            color: #485863;
            border: none;
        }
        .sidebar ul.menu > li.menu-item:hover > a{
            padding-left: 67px;
            color: #000;
            background: #dbdbdb;
        }
    /*Sidebar/ */

    /*Content area*/
        /*General*/
            .wrap-content-area{
                width: 72.6%;
                padding-left: 49px;
            }
        /*General/ */

        /*Image*/
            .wrap-img{
                margin-bottom: 45px;
                border: 1px solid #35444f;
                overflow: hidden;
                text-align: center;
            }
            .wrap-img img{
                display: inline-block;
                vertical-align: middle;
                padding: 75px 0;
                max-width: 100%;
                height: auto;

                -webkit-transition: all 0.3s ease;
                -moz-transition: all 0.3s ease;
                -o-transition: all 0.3s ease;
                transition: all 0.3s ease;
            }
            .wrap-img:hover img{
                -webkit-transform: scale(1.1);
                -moz-transform: scale(1.1);
                -o-transform: scale(1.1);
                transform: scale(1.1);
            }
        /*Image/ */

        /*Content*/
            .content-area{
                padding: 0 30px 45px;
                font-size: 18px;
                color: #2c2c2c;
            }
            .content-area p{
                margin-bottom: 25px;
            }
        /*Content/ */
    /*Content area/ */
/*Content/ */

/*Footer*/
    /*General*/
        .footer{
            padding: 15px 35px;
            background: #b4b7ba;
        }
    /*General/ */

    /*Menu*/
        .footer-menu{
            display: inline-block;
            vertical-align: top;
            width: 74%;
        }

        .footer-menu ul.menu > li.menu-item > a{
            padding: 0 13px;
            border: none;
            font-size: 28px;
            color: #0c1927;
        }
        .footer-menu ul.menu > li.menu-item:hover > a{
            text-align: right;
            color: #3181a6;
            text-decoration: underline;
            background: none;
        }
    /*Menu/ */

    /*Copyright*/
        .copyright{
            display: inline-block;
            vertical-align: top;
            padding-top: 2px;
            width: 25%;
            font-size: 24px;
            color: #010101;
            text-align: right;
        }
    /*Copyright/ */
/*Footer/ */

/*Fonts
    font-family: 'MyriadProRegular';
Fonts/ */