* {
    padding: 0;
    margin: 0;

    box-sizing: border-box;
}

body, html {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'robotoblack';
    background: #ffffff;
}

body{
    min-width: 1200px;
}

nav{
    padding-top: 26px;
    padding-bottom: 29px;
}
nav > ul {
    text-align: center;
}
nav > ul > li {
    display: inline-block;
    list-style: none;
}
nav > ul > li a{
    padding: 0 32px;
    color: #16a085;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 18px;
    display: block;
}
nav > ul > li:hover a{
    text-decoration: underline;
}

.banner img{
    width: 100%;
    height: auto;
}

.content{
    text-align: center;
    color: #373737;
    padding: 50px 104px 94px;
    background-color: #f5f6f7;
}

.content h1{
    font-size: 22px;
    text-transform: uppercase;
    margin-bottom: 29px;
}

.content p{
    font-size: 16px;
    margin-bottom: 34px;
    line-height: 25px;
}

.bt {
  padding-top: 5px;
}
.bt button{
    font-family: 'GothamRndBold';
    font-size: 12px;
    text-transform: uppercase;
    background-color: #16a085;
    color: #ffffff;
    padding: 23px 46px;
    border: none;
    cursor: pointer;
    border-radius: 3px;
}

.footer{
    padding: 40px 104px 44px;
    font-size: 16px;
    color: #373737;
    text-align: right;
}
/*Fonts
    font-family: 'robotoblack';
    font-family: 'GothamRndBold';
*/