body {
    font-family: 'Montserrat', sans-serif;
}

.head-container {
    background: url("../image/img-head/background.png") 100% 100% no-repeat fixed;
    background-size: cover;
    padding-bottom: 244px;
}
.head-block {
    height: 120px;
    background: url("../image/img-head/head-block-background.png") 100% 100% no-repeat;
    background-size: cover;
}
.head-block-logo-and-menu {
    height: 120px;
    width: 1160px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    align-items: center;
}
.head-logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.head-logotype {
    width: 60px;
    height: 72px;
    background: url("../image/img-head/logo-background.png") 100% 100% no-repeat;
    background-size: cover;
    text-align: center;
}
.logotype-letter {
    font-weight: bold;
    font-size: 40px;
    color: #ffffff;
    height: 28px;
    display: block;
    margin-top: 16px;
}
.head-logo-text {
    font-size: 15px;
    font-weight: bold;
    color: #ffffff;
    padding-left: 8px;
}
.text-blue {
    color: #18cfab;
}
.head-menu-and-search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
    width: 644px;
}
.head-menu-item {
    font-weight: bold;
    font-size: 13px;
    color: #bbbbbb;
    margin-top: 50px;
    padding-bottom: 54px;
}
.head-menu-item:hover  {
    color: #18cfab;
    border-bottom:#18cfab solid 2px;
    padding-bottom: 54px;
}
.container-headline{
    text-align: center;
    margin-top: 266px;
}
.headline-title {
    font-weight: bold;
    font-size: 35px;
    color: #ffffff;
    text-transform:uppercase;
    padding-bottom: 45px;
}
.headline-slogan {
    font-size: 69px;
    font-weight: bold;
    color: #ffffff;
    text-transform: uppercase;
    padding-bottom: 37px;
}
.headline-slogan-text {
    font-weight: lighter;
    font-size: 29px;
    color: rgba(212, 212, 212, 255);
}
.container-inputs {
    margin-top: 142px;
    text-align: center;
}
.container-button {
    display: inline-block;
    font-size: 12px;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    width: 166px;
    height: 37px;
    padding-top: 24px;
    border-radius: 6px;
    border-top: 3px solid #ffffff;
}
.green-button {
    background-color: #18cfab;
    margin-right: 28px;
}
.blue-button {
    background-color: #00cbf6;
}
.icons-container {
    display: flex;
}
.icon {
    flex-grow: 1;
    flex-shrink: 1;
    width: 25%;
    text-align: center;
}
.icon-dark {
    padding-bottom: 120px;
    padding-top: 95px;
}
.icon-light {
    padding-top: 115px;
}
.bg-dark {
    background-color: #1c2a33;
    border-top: 6px solid #18cfab;
    color: #18cfab;
}
.bg-light {
    background-color: #18cfab;
    border-top: 6px solid #ffffff;
    color:#ffffff;
}
.icon-item {
    display: block;
    top: 244px;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding-top: 59px;
}
.container-our-services {
    text-align: center;
    margin-bottom: 101px;
}
.title-text {
    display: block;
    font-size: 36px;
    letter-spacing: 3px;
    color: rgba(78, 78, 78, 255);
    padding-top: 82px;
    padding-bottom: 41px;
}
.title-line {
    width: 76px;
    border-top: 2px solid #18cfab;
    box-shadow: -7px -3px #18cfab;
    margin:0  auto;
    margin-bottom:70px ;
}
.menu-and-content {
    width: 1200px;
    height: 40vh;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
}
.our-services-menu {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    align-items: stretch;
    text-align: center;
    margin: 0 auto;
}
.menu-item {
    font-size: 16px;
    color: rgba(113, 113, 113, 255);
    text-transform: uppercase;
    text-align: center;
    width: 166px;
    height: 37px;
    padding-top: 27px;
    padding-left: 16px;
    padding-right: 16px;
    background-color: #f8fcfe;
    border: 1px solid #ebebeb;
    cursor: pointer;
    position:relative;
}
.menu-item:hover {
    width: 166px;
    height: 37px;
    padding-top: 27px;
    padding-left: 16px;
    padding-right: 16px;
    background-color: #18cfab;
    border: 1px solid #18cfab;
}
.menu-item-active {
    background-color: #18cfab;
    border: 1px solid #18cfab;
}
.menu-item-active::after{
    content: '';
    width: 0;
    height: 0;
    border: 15px solid transparent;
    border-top-color: #18cfab;
    border-bottom: 0;
    top: 65px;
    left: 40%;
    right: 50%;
    position:absolute;
}
.img-and-content-for-menu {
    margin: 0 auto;
    padding-top: 25px;
}

.img-for-content {
    align-self: center;
    border: 1px solid #ebebeb;
    float:left;
    margin-right: 20px;
}
.content-text {
    font-weight: lighter;
    font-size: 14px;
    color: rgba(119, 119, 119, 255);
    text-align: justify;
    line-height: 1.5;
}
.clear-fix::after {
    content: '';
    clear: both;
}
.container-install {
    width: 100%;
    height: 475px;
    background:  linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../image/img-for-install/section-2.jpg") 60% 45% no-repeat;
    background-size: cover;
    text-align: center;
}
.install-title-text {
    font-size: 39px;
    font-weight: bold;
    text-transform: uppercase;
    word-spacing: 2px;
    padding-top: 128px;
    padding-bottom: 35px;
}
.install-text {
    font-size: 16px;
    color: rgba(216, 216, 216, 255);
    padding-bottom: 76px;
}
.install-button {
    display: inline-block;
    font-size: 12px;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    width: 166px;
    height: 37px;
    padding-top: 24px;
    border-radius: 6px;
    border-top: 3px solid #ffffff;
    background-color: #18cfab;
}
.container-our-work {
    text-align: center;
    background-color: #f8fcfe;
    border-bottom: 2px solid #e1e1e1;
}
.our-work-menu {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    align-items: stretch;
    text-align: center;
    margin-bottom: 71px;
    cursor: pointer;
}
.our-work-menu-item {
    font-size: 14px;
    color: #979797;
    text-transform: uppercase;
    text-align: center;
    height: 37px;
    padding-top: 27px;
    padding-left: 34px;
    padding-right: 34px;
    background-color: #f8fcfe;
    border: 1px solid #ebebeb;
}
.item-all {
    padding-left: 29px;
    padding-right: 29px;
}
.our-work-menu-item:hover {
    color: #18cfab;
    border-top: 1px solid #18cfab;
}
.our-work-menu-item-active {
    color: #18cfab;
    border-top: 1px solid #18cfab;
}
.our-work-menu-item-active:hover {
    color: #18cfab;
    border-top: 1px solid #18cfab;
}
.our-work-images {
    width: 1140px;
    margin: 80px auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.block-img-our-work {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.category {
    position: relative;
}
.img-our-work {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.our-img-hover-active {
    background-color: white;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top: 2px solid #18cfab;
    box-sizing: border-box;
    position:absolute;
    left: 0;
    top: 0;
}
/*.our-img-hover-active:hover{*/
/*    display: none;*/
/*}*/
.our-img-hover {
    background-color: white;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top: 2px solid #18cfab;
    box-sizing: border-box;
    position:absolute;
    left: 0;
    top: 0;
    transition: all .8s;
    visibility: hidden;
    transform: scale(0) rotate(90deg);
}

.category:hover .our-img-hover{
    width: 100%;
    height: 100%;
    visibility: visible;
    transform: scale(1) rotate(0deg);
    top: 0;
}
.circles-for-hover {
    padding-top: 46px;
    padding-bottom: 34px;
    height: 41px;
    display: flex;
    justify-content: center;
}
.block-circle-for-hover {
    width: 40px;
    height: 40px;
    border: 1px solid #18cfab;
    border-radius: 50%;
    text-align: center;
    margin-right: 10px;
}
.block-circle-for-hover:hover {
    background: #18cfab url('../image/img-our-work/detal-for-circle.png') 50% 50% no-repeat;
}
.img-hover{
    padding-top: 10px;
}
.block-search-for-hover {
    width: 40px;
    height: 40px;
    border: 1px solid #18cfab;
    border-radius: 50%;
    text-align: center;
    background-color: #18cfab;
}
.block-search-for-hover:hover {
    background: #fff url('../image/img-our-work/img-for-search.png') 50% 50% no-repeat;
}
.text-for-hover {
    font-size: 24px;
    color: #18cfab;
    text-transform: uppercase;
}
.text-hover-for-menu {
    font-size: 20px;
    color: rgba(138, 138, 138, 255);
    padding-top: 13px;
    padding-bottom: 52px;
}
.our-work-button-load {
    width: 165px;
    height: 55px;
    padding-top: 5px;
    margin: 100px auto;
    border-radius: 4px;
    font-size: 14px;
    color: rgba(255, 255, 255, 255);
    background-color: #18cfab;
    text-transform: uppercase;
    display: flex;
    justify-content: space-around;
    justify-items: center;
}
.img-plus-for-button {
    width: 16px;
    height: 16px;
    align-self: center;
}
.text-load-more {
    align-self: center;
}
.container-breaking-news {
    text-align: center;
    display: grid;
    padding-bottom: 133px;
}
.block-of-images-for-breaking-news {
    width: 1142px;
    height: 605px;
    display: grid;
    grid-template-rows: repeat(2,1fr);
    grid-template-columns: repeat(4,1fr);
    justify-items: center;
    align-items: center;
    margin: 0 auto;
}
.img-breaking-news {
    position: relative;
    height: 208px;
    width: 263px;
}
.block-img1 {
    background: url('../image/img-for-container-braeking-news/img1.png') 100% 100% no-repeat;
}
.block-img2 {
    background: url('../image/img-for-container-braeking-news/img2.png') 100% 100% no-repeat;
}
.block-img3 {
    background: url('../image/img-for-container-braeking-news/img3.png') 100% 100% no-repeat;
}
.block-img4 {
    background: url('../image/img-for-container-braeking-news/img4.png') 100% 100% no-repeat;
}
.block-img5 {
    background: url('../image/img-for-container-braeking-news/img5.png') 100% 100% no-repeat;
}
.block-img6 {
    background: url('../image/img-for-container-braeking-news/img6.png') 100% 100% no-repeat;
}
.block-img7 {
    background: url('../image/img-for-container-braeking-news/img7.png') 100% 100% no-repeat;
}
.block-img8 {
    background: url('../image/img-for-container-braeking-news/img8.png') 100% 100% no-repeat;
}
.block-date {
    position: absolute;
    width: 68px;
    height: 66px;
    background-color: #203e38;
    right: 0;
    top: 0;
    text-align: center;
}
.date {
    font-size: 16px;
    color: rgba(255, 255, 255, 255);
    padding-top: 15px;
    height: 37px;
}
.block-for-text {
    height: 72px;
    border-left: 1px solid #ebebeb;
    border-right: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
}
.head-text {
    font-weight: bold;
    font-size: 18px;
    color: rgba(113, 113, 113, 255);
    padding-top: 14px;
}
.text-comment {
    font-size: 14px;
    color: rgba(119, 119, 119, 255);
    padding-top: 14px;
}
.block-for-img:hover .block-date {
    background-color: #18cfab;
}
.block-for-img:hover .head-text{
    color: #18cfab;
}
.container-for-Ham {
    text-align: center;
    background: url('../image/img-for-Ham/background.jpg') 100% 100% no-repeat;
    background-size: cover;
    linear-gradient(
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.7)
    )
    }
.title-text-for-Ham {
    color: #ffffff;
}
.img-quotes {
    width: 44px;
    height: 30px;
}
.block-information-of-worker {
    text-align: center;
}
.information-text {
    color: rgba(187, 187, 187, 255);
    width: 1097px;
    height: 46px;
    margin: 43px auto;
    line-height: 20px;
}
.information-name {
    width: 95px;
    height: 42px;
    line-height: 25px;
    margin: 0 auto;
    color: #bbbbbb;
}
.person-name {
    font-size: 17px;
    text-transform: uppercase;
    font-weight: bold;
    word-spacing: 1px;
}
.person-profession {
    font-size: 11px;
}
.big-format-photo {
    width: 143px;
    height: 142px;
    margin: 37px auto;
    border-radius: 50%;
    border: 15px solid rgba(17,76,75, 0.8);
}
.big-photo {
    width: 143px;
    height: 142px;
    border-radius: 50%;
    background-size: cover;
    border: 2px solid #18cfab;
    box-sizing: border-box;
}
.big-photo1 {
    background: url('../image/img-for-Ham/img1.png') 100% 100% no-repeat;
    background-size: cover;
}
.big-photo2{
    background: url('../image/img-for-Ham/img2.png') 100% 100% no-repeat;
    background-size: cover;
}
.big-photo3 {
    background: url('../image/img-for-Ham/big-photo3.png') 100% 100% no-repeat;
}
.big-photo4{
    background: url('../image/img-for-Ham/img4.png') 100% 100% no-repeat;
    background-size: cover;
}
.slider-photos {
    display: flex;
    justify-content: space-between;
    margin: 54px auto;
    padding-bottom: 99px;
    width: 500px;
}
.arrow1-for-slider {
    width: 31px;
    height: 31px;
    border: 1px solid #bbbbbb;
    outline-offset: -1px;
    text-align: center;
    align-self: center;
}
.arrow1-for-slider:hover {
    background-color: #18cfab;
}
.arrow{
    padding-top: 9px;
}
.small-format-photos {
    display: flex;
    justify-content: space-around;
    width: 420px;
    position: relative;
}
.small-photo {
    width: 62px;
    height: 61px;
    border: 5px solid rgba(17,76,75, 0.5);
    border-radius: 50%;
    transition: all .5s;
}
.photo {
    width: 62px;
    height: 61px;
    border-radius: 50%;
    background-size: cover;
}
.small-photo-active:hover{
    transition: all .5s;
    margin-top: -15px;
}
.photo-active{
    border: 1px solid #18cfab;
    box-sizing: border-box;
}
.top-active {
    margin-top: -15px;
}
.photo1 {
    background: url('../image/img-for-Ham/img1.png') 100% 100% no-repeat;
}
.photo2 {
    background: url('../image/img-for-Ham/img2.png') 100% 100% no-repeat;
}
.photo3 {
    background: url('../image/img-for-Ham/img3.png') 100% 100% no-repeat;
}
.photo4 {
    background: url('../image/img-for-Ham/img4.png') 100% 100% no-repeat;
}
.arrow2 {
    padding-bottom: 10px;
    transform: rotate(180deg);
}
.container-of-best-images {
    text-align: center;
}
.gallery-of-best-images {
    width: 1150px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    flex-grow: 1;
    flex-shrink: 1;
}
.best-img {
    width: 100%;
}
.images-column1 {
    display: flex;
    flex-direction: column;
}
.images-column1>.best-img:nth-child(n-1) {
    margin-bottom: 15px;
}
.images-column2 {
    display: flex;
    flex-direction: column;
}
.images-column2>.best-img:nth-child(n-1) {
    margin-bottom: 15px;
}
.images-column3 {
    width: 360px;
    display: flex;
    flex-direction: column;
}
.images-column3>div:nth-child(n-1) {
    margin-bottom: 15px;
}
.images-column3-1 {
    display: flex;
    flex-direction: row;
}
.images-column3-2 {
    width: 360px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 1px;
    grid-row-gap: 1px;
}
.images-column3-2>.best-img {
    height: 92px;
}
.button-load {
    width: 165px;
    height: 55px;
    padding-top: 5px;
    margin: 100px auto;
    border-radius: 4px;
    /*font-family: 'AdobeInvisFont', 'Montserrat', sans-serif;*/
    font-size: 14px;
    color: rgba(255, 255, 255, 255);
    background-color: #18cfab;
    text-transform: uppercase;
    display: flex;
    justify-content: space-around;
    justify-items: center;
}
.container-footer {
    background: url("../image/img-footer/background.png") 100% 100% no-repeat;
    background-size: cover;
    margin-bottom: 15px;
}
.footer-text {
    width: 400px;
    text-align: center;
    margin: 0 auto;
    padding-top: 47px;
    padding-bottom: 47px;
    font-size: 14px;
    color: rgba(174, 174, 174, 255);
}
