/*Основные настройки*/
    * {
        padding: 0;
        margin: 0;

        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    body{
        padding-top: 24px;
        min-width: 1200px;
        font-family: 'Arimo Regular';
        background: #3a4965;
    }
/*Основные настройки/ */

/*Таблица*/
    table.price-table{
        width: 100%;
        color: rgba(72, 72, 72, 255);
        font-size: 16px;
        text-align: center;
        line-height: 40px;
        text-transform: uppercase;
        border-collapse: collapse;
        background: #fafafa;
    }
    table.price-table th,
    table.price-table td{
        border: none;
    }

    /*Шапка таблицы*/
        table.price-table th{
            font-family: 'Arimo Bold';
            color: #484848;
            font-weight: normal;
        }

        /*Большая ячейка*/
            table.price-table thead th.pricing-plan{
                width: 310px;
                padding-top: 36px;
                padding-bottom: 55px;
                vertical-align: top;
                font-size: 30px;
                white-space: nowrap;
                line-height: 1.1;
            }
            table.price-table thead th.pricing-plan span{
                font-size: 18px;
            }
        /*Большая ячейка/ */

        table.price-table thead th.price{
            background-color: #ffffff;
            font-size: 60px;
            white-space: nowrap;
            display: contents;
        }

        table.price-table thead th.pricing-head{
            padding: 16px 0 15px;
            font-size: 24px;
            color: #ffffff;
        }
        table.price-table thead th.standart{
            background-color: #89c331;
        }
        table.price-table th.pricing-head.ultimate{
            background-color: #f04a56;
            font-size: 30px;
        }
        table.price-table th.premium{
            background-color: #20807c;
        }
    /*Шапка таблицы/ */

    /*Тело таблицы*/
        table.price-table tbody td{
            padding: 16px 0 14px;
            font-size: 16px;
            color: #484848;
        }
        table.price-table tbody td i.fa{
            margin-right: 13px;
            font-size: 24px;
            color: #848484;
        }

        /*Строки*/
            /* нечетная строка таблицы */
            table.price-table tbody tr{
                background-color: #f2f2f2;
            }

            /* четная строка таблицы */
            table.price-table tbody tr:nth-child(2n){
                background-color: #e3e3e3;
            }
        /*Строки/ */

        /*Цены*/
            table.price-table tr.price th{
                padding: 14px 0 9px;
                font-size: 60px;
            }
            table.price-table tr.price th sup{
                position: relative;
                top: -4px;
                font-size: 24px;
            }
            table.price-table tr.price th span{
                margin-left: -30px;
                font-family: 'Arimo Regular';
                font-size: 18px;
            }
        /*Цены/ */
    /*Тело таблицы/ */

    /*Кнопки*/
        table.price-table tfoot td{
            padding-top: 32px;
            padding-bottom: 39px;
            background-color: #f4f4f4;
        }
        table.price-table tfoot td:first-child{
            background-color: #dddddd;
        }
        table.price-table tfoot td:nth-child(2n){
            background-color: #eeeeee;
        }

        .btn{
            width: 192px;
            padding-top: 18px;
            padding-bottom: 4px;
            border: none;
            font-family: 'Arimo Bold';
            font-size: 16px;
            color: #fff;
            text-transform: uppercase;
            outline: none;
            cursor: pointer;

            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;

            -webkit-transition: all 0.3s ease;
            -moz-transition: all 0.3s ease;
            -o-transition: all 0.3s ease;
            transition: all 0.3s ease;
        }
        .btn:hover{
            padding-top: 13px;
            padding-bottom: 9px;
            border: 1px solid transparent;
            border-bottom: none;
            background-color: transparent;
        }

        .contact{
            background-color: #484848;

            -webkit-box-shadow: 0px 9px #404040;
            -moz-box-shadow: 0px 9px #404040;
            box-shadow: 0px 9px #404040;
        }
        .contact:hover{
            color: #484848;
            border-color: #484848;
        }

        .buy-1{
            background-color: #89c331;

            -webkit-box-shadow: 0px 9px #79b027;
            -moz-box-shadow: 0px 9px #79b027;
            box-shadow: 0px 9px #79b027;
        }
        .buy-1:hover{
            color: #79b027;
            border-color: #79b027;
        }

        .buy-2{
            background-color: #f04a56;

            -webkit-box-shadow: 0px 9px #df3a46;
            -moz-box-shadow: 0px 9px #df3a46;
            box-shadow: 0px 9px #df3a46;
        }
        .buy-2:hover{
            color: #df3a46;
            border-color: #df3a46;
        }

        .buy-3{
            background-color: #20807c;

            -webkit-box-shadow: 0px 9px #16736f;
            -moz-box-shadow: 0px 9px #16736f;
            box-shadow: 0px 9px #16736f;
        }
        .buy-3:hover{
            color: #16736f;
            border-color: #16736f;
        }
    /*Кнопки/ */
/*Таблица/ */

/*Дополнительные классы*/
    .container{
        width: 1140px;
        margin: 0 auto;
    }

    .shadow{
        -webkit-box-shadow: 2px 0px 3px -1px rgba(0,0,0,0.27);
        -moz-box-shadow: 2px 0px 3px -1px rgba(0,0,0,0.27);
        box-shadow: 2px 0px 3px -1px rgba(0,0,0,0.27);
    }
/*Дополнительные классы/ */

/*Шрифты
    font-family: 'Arimo Regular';
    font-family: 'Arimo Bold';

    font-family:'FontAwesome';
*/